json-repair
langchain-chroma
langchain-core
langchain-classic
langchain-ollama
langchain-text-splitters
fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-postgres
langchain-google-genai
pypdf
python-docx
unstructured
psycopg[binary]
pgvector
langchain-openai
sqlalchemy
chromadb
docx2txt